/* Main Menu Section */
.main_menu_container {
    -fx-background-color: #EEEEEE;
    -fx-alignment: center;
}

.left_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

/* Navigation Section */
.menu_container {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}

/* Botones en el menú principal */
.menu_container Button, .alt_menu_btn {
    -fx-pref-width: 116;
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.menu_container Button:hover, .alt_menu_btn:hover {
    -fx-cursor: hand;
}

.menu_container Button FontAwesomeIconView, .alt_menu_btn FontAwesomeIconView {
    -fx-fill: #132A13;
}

/* Botones de estilo alternativo */
.alt_menu_btn {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
}
.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}
