/* Estilos para el contenedor del dashboard */
.dashboard_container {
    -fx-background-color: #DDDDDD;
    -fx-alignment: center;
}

/* Estilos para los botones tipo ToggleButton dentro del dashboard_container */
.dashboard_container ToggleButton {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 70;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

/* Estilos para los iconos dentro de los ToggleButton */
.dashboard_container ToggleButton FontAwesomeIconView {
    -fx-fill: #FFFFFF;
    -fx-alignment: center_left;
}

/* Estilos al pasar el cursor sobre los ToggleButton */
.dashboard_container ToggleButton:hover {
    -fx-cursor: hand;
}

/* Estilos para otro tipo de contenedor alternativo */
.alt_ToggleButton_container {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-pref-width: 90;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.alt_ToggleButton_container Button:hover {
    -fx-cursor: hand;
}

alt_ToggleButton_container Button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-pref-width: 70;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.alt2_ToggleButton_container {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 90;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

/* Estilos para los contenedores de título */
.title_container {
    -fx-background-color: #132A13;
    -fx-border-radius: 10;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

/* Estilos para los Text dentro de title_container */
.title_container Text {
    -fx-fill: #FFFFFF;
    -fx-font-size: 30px;
    -fx-font-family: "Calibri Light";
}

/* Estilos para el menú del dashboard */
.dashboard_menu_container {
    -fx-alignment: center;
    -fx-background-radius: 10;
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

/* Estilos al pasar el cursor sobre los botones del menú */
.dashboard_menu_container Button:hover {
    -fx-cursor: hand;
}

/* Estilos para los botones del menú */
.dashboard_menu_container Button {
    -fx-background-radius: 10;
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5 ,0, 0, 6);
}

/* Estilos para un botón específico */
.dashboard_alt_menu_btn {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-font-size: 12;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5 ,0, 0, 6);
}

/* Estilos para los contenedores del panel del dashboard */
.dashboard_pane_container {
    -fx-background-color: #DDDDDD;
    -fx-padding: 10;
}

/* Estilos para los Pane dentro del dashboard_pane_container */
.dashboard_pane_container Pane {
    -fx-background-radius: 10;
    -fx-pref-width: 165;
    -fx-pref-height: 111;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5 ,0, 0, 6);
}

/* Estilos para otro tipo de contenedor de panel alternativo */
.alt_dashboard_pane_container{
    -fx-background-radius: 10;
    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5 ,0, 0, 6);
}
