/* Contenedor principal */
.dashboard_container {
    -fx-background-color: #DDDDDD;
    -fx-alignment: center;
}

/* Contenedor de la izquierda con detalles de alarma */
.pump_container {
    -fx-background-color: #FFFFFF;
}

.title_container {
    -fx-background-color: #132A13;
    -fx-border-radius: 10;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container Text {
    -fx-fill: #FFFFFF;
    -fx-font-size: 30px;
    -fx-font-family: "Calibri Light";
}

.dashboard_menu_container Button{
    -fx-background-radius: 10;
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5 ,0, 0, 6);
}

.dashboard_alt_menu_btn {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-font-size: 12;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5 ,0, 0, 6);
}

/* Paneles de detalles de la bomba */
.pump_pane {
    -fx-background-color: #D8D8D8;
    -fx-border-color: #000000;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

/* Etiquetas en los paneles de detalles de la bomba */
.input_field {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-border-color: #000000;
    -fx-pref-width: 50;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-padding: 5;
}

/* Paneles de control de la bomba */
.control_pane {
    -fx-background-color: #D8D8D8;
    -fx-border-color: #000000;
    -fx-padding: 10;
}

/* Botones de control */
.toggle_button {
    -fx-background-color: #D8D8D8;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-text-fill: #000000;
    -fx-padding: 5;
    -fx-alignment: center;
}

/* Paneles de flujo de la bomba */
.flow-rate_pane {
    -fx-background-color: #D8D8D8;
    -fx-border-color: #000000;
    -fx-padding: 10;
}

/* Paneles de periodo de la bomba */
.period_pane {
    -fx-background-color: #D8D8D8;
    -fx-border-color: #000000;
    -fx-padding: 10;
}
